* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --title-font: "Fraunces", serif;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--Cream);
  padding: 1rem;
}

.container {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  background-color: var(--White);
  border-radius: 10px;
  overflow: hidden;
}

.col {
  width: 50%;
}
.image {
  background: url(images/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s all ease;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.little-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 12px;
  font-weight: 500;
  color: var(--Dark-grayish-blue);
}

.title {
  font-size: 2rem;
  font-family: var(--title-font);
  color: var(--Very-dark-blue);
}

.content-p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3rem;
  color: var(--Dark-grayish-blue);
}

.price {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.price p {
  font-size: 2rem;
  font-family: var(--title-font);
  color: var(--Dark-cyan);
  font-weight: 700;
}

.price small {
  text-decoration: line-through;
  opacity: 0.7;
}

.add-btn {
  width: 100%;
  padding: 1rem 0rem;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-color: var(--Dark-cyan);
  color: var(--White);
  gap: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
}
.add-btn:hover {
  background-color: var(--Very-dark-blue);
}

@media (max-width: 550px) {
  .container {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .image {
    background: url(images/image-product-mobile.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
  }
}
